.compte-a-rebours {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 30px;
  border-radius: 15px;
  font-family: 'Arial', sans-serif;
  margin: 0 auto;
  max-width: 400px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  animation: pulse 2s infinite;
  margin-bottom: 30px;
}

.temps {
  font-size: 1em;
  margin: 10px 0;
}

@keyframes pulse {
  0% { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  50% { box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); }
  100% { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
}

.chiffre {
  font-family: 'Nosifer', cursive;
  font-size: 3em;
}
