<div id="compteARebours" class="compte-a-rebours">
  <div class="temps"><span class="chiffre">{{ timeLeft.annees }}</span> Années</div>
  <div class="temps"><span class="chiffre">{{ timeLeft.mois }}</span> Mois</div>
  <div class="temps"><span class="chiffre">{{ timeLeft.jours }}</span> Jours</div>
  <div class="temps"><span class="chiffre">{{ timeLeft.heures }}</span> Heures</div>
  <div class="temps"><span class="chiffre">{{ timeLeft.minutes }}</span> Minutes</div>
  <div class="temps"><span class="chiffre">{{ timeLeft.secondes }}</span> Secondes</div>
</div>
