<div class="header">
  <h1>The Final Countdown</h1>
  <img src="assets/logo-TFC-removebg.png" alt="Logo" class="logo">
</div>

<app-formulaire *ngIf="!dateMort"></app-formulaire>

<app-decompte *ngIf="dateMort" [targetDate]="dateMort"></app-decompte>

<app-footer></app-footer>

<div class="modal" id="warningModal">
  <div class="modal-content">
    <span class="close" id="closeModal">&times;</span>
    <h2>Avertissement</h2>
    <p>Ce site prédit la mort des personnes en se basant sur l'IA. Ces prédictions sont expérimentales et ne doivent pas être prises au sérieux.</p>
  </div>
</div>
