body {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Arial', sans-serif;
}

.header {
  text-align: center;
  padding: 20px;
}

.logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.header h1 {
  font-family: 'Nosifer', cursive;
}
